# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project specific
logs/
output/
uvicorn.log
caddy
.config/
.local/
config.ini

# Media files
*.mp4
*.mkv
*.avi
*.mov
*.webm
*.tmp

# OS
.DS_Store
Thumbs.db

